.navbar {
  background-color: #3817f3;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-header {
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
}

@media (min-width: 600px) {
  .navbar-header {
    font-size: 2.4rem;
  }
}

.navbar-btn {
  border: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
}

@media (min-width: 600px) {
  .navbar-btn {
    font-size: 1.4rem;
    padding: 10px 15px;
    border-width: 2px;
  }
}

.btn-back-home {
  display: inline-block;
  text-decoration: none;
  margin: 20px 0 0 0;
  border: 2px solid green;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #99fa99;
  transition: 0.2s ease;
}

.btn-back-home:hover {
  background-color: green;
  color: #fff;
  border-color: #fff;
}
